{% extends 'base.html' %}

{% block content %}
  <h1>Voter List</h1>
  <a href="{% url 'voter_create' %}" class="btn btn-primary">Add Voter</a>
  <br><br>
  <table class="table">
    <thead>
      <tr>
        <th>CNIC</th>
        <th>Family No.</th>
        <th>First Name</th>
        <th>Statistical Block Code</th>
        <th>Series Number</th>
        <th>Date of Birth</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for voter in voters %}
        <tr>
          <td>{{ voter.cnic }}</td>
          <td>{{ voter.family_no }}</td>
          <td>{{ voter.first_name }}</td>
          <td>{{voter.statical_lock_code}}</td>
          <td>{{ voter.series_number }}</td>
          <td>{{ voter.dob }}</td>
          <td>{{ voter.email }}</td>
          <td>
            <a href="{% url 'voter_update' voter.cnic %}" class="btn btn-info">Edit</a>
            <a href="{% url 'voter_delete' voter.cnic %}" class="btn btn-danger">Delete</a>
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="9">No voters found.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}








